# Лабораторная работа 1
## Раздел 1: Загрузка данных
### Подраздел 1.1: Импорт библиотек

In [1]:
import pandas as pd
import numpy as np

### Подраздел 1.2: Чтение файла auto.csv

In [25]:
df = pd.read_csv('/Users/zorinmihail/desktop/auto.csv')
df.head()

,Name,year,SellingPrice,kmdriven,fuel,seller_Type,transmission,owner
0,Maruti 800 AC,2007,60000.0,70000.0,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000.0,50000.0,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000.0,100000.0,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000.0,46000.0,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000.0,141000.0,Diesel,Individual,Manual,Second Owner

## Раздел 2: Обзор данных
### Подраздел 2.1: Вывод первых 20 строк

In [4]:
df.head(20)

,Name,year,SellingPrice,kmdriven,fuel,seller_Type,transmission,owner
0,Maruti 800 AC,2007,60000.0,70000.0,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000.0,50000.0,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000.0,100000.0,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000.0,46000.0,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000.0,141000.0,Diesel,Individual,Manual,Second Owner
5,Maruti Alto LX BSIII,2007,140000.0,125000.0,Petrol,Individual,Manual,First Owner
6,Hyundai Xcent 1.2 Kappa S,2016,550000.0,25000.0,Petrol,Individual,Manual,First Owner
7,Tata Indigo Grand Petroll,2014,240000.0,60000.0,Petrol,Individual,Manual,Second Owner
8,Hyundai Creta 1.6 VTVT S,2015,850000.0,25000.0,Petroll,Individual,Manual,First Owner
9,Maruti Celerio Green VXI,2017,365000.0,78000.0,CNG,Individual,Manual,First Owner
10,Chevrolet Sail 1.2 Base,2015,260000.0,35000.0,Petrol,Individual,Manual,First Owner
11,Tata Indigo Grand Petrol,2014,250000.0,100000.0,Petrol,Individual,Manual,First Owner
12,Toyota Corolla Altis 1.8 VL CVT,2018,1650000.0,25000.0,Petrol,Dealer,Automatic,First Owner
13,Maruti 800 AC,2007,60000.0,70000.0,Petrol,Individual,Manual,First Owner
14,Maruti Wagon R LXI Minor,2007,135000.0,50000.0,Petrol,Individual,Manual,First Owner
15,Hyundai Verna 1.6 SX,2012,600000.0,100000.0,Diesel,Individual,Manual,First Owner
16,Datsun RediGO T Option,2017,250000.0,46000.0,Petrol,Individual,Manual,First Owner
17,Honda Amaze VX i-DTEC,2014,450000.0,141000.0,Diesel,Individual,Manual,Second Owner
18,Maruti Alto LX BSIII,2007,140000.0,125000.0,Petrol,Individual,Manual,First Owner
19,Hyundai Xcent 1.2 Kappa S,2016,550000.0,25000.0,Petrol,Individual,Manual,First Owner

### Подраздел 2.2: Оценка данных при помощи info

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4344 entries, 0 to 4343
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          4344 non-null   object
 1   year          4344 non-null   int64
 2   SellingPrice  4342 non-null   float64
 3   kmdriven      4343 non-null   float64
 4   fuel          4343 non-null   object
 5   seller_Type   4344 non-null   object
 6   transmission  4344 non-null   object
 7   owner         4344 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 271.6+ KB

### Подраздел 2.3: Оценка при помощи describe

In [6]:
df.describe()

              year  SellingPrice       kmdriven
count  4344.000000  4.342000e+03    4343.000000
mean   2013.092311  5.039987e+05   66193.063320
std       4.214543  5.784465e+05   46636.648764
min    1992.000000  2.000000e+04       1.000000
25%    2011.000000  2.100000e+05   35000.000000
50%    2014.000000  3.500000e+05   60000.000000
75%    2016.000000  6.000000e+05   90000.000000
max    2020.000000  8.900000e+06  806599.000000

### Подраздел 2.4: Оценка названий столбцов

In [7]:
df.columns

Index(['Name', 'year', 'SellingPrice', 'kmdriven', 'fuel', 'seller_Type',
       'transmission', 'owner'],
      dtype='object')

## Раздел 3: Проверка пропусков

In [10]:
df = df.rename(columns={
    'year': 'Year',
    'SellingPrice': 'Sellingprice',
    'kmdriven': 'Kmdriven',
    'seller_Type': 'Seller_type',
    'owner': 'Owner',
    'fuel': 'Fuel',
    'transmission': 'Transmission'
})

In [11]:
df.isnull().sum()

Name            0
Year            0
Sellingprice    2
Kmdriven        1
Fuel            1
Seller_type     0
Transmission    0
Owner           0
dtype: int64

In [12]:
# Для числовых столбцов используем среднее
df['Sellingprice'] = df['Sellingprice'].fillna(df['Sellingprice'].mean())
df['Kmdriven'] = df['Kmdriven'].fillna(df['Kmdriven'].mean())

# Для категориального столбца используем моду (самое частое значение)
df['Fuel'] = df['Fuel'].fillna(df['Fuel'].mode()[0])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4344 entries, 0 to 4343
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          4344 non-null   object
 1   Year          4344 non-null   int64
 2   Sellingprice  4344 non-null   float64
 3   Kmdriven      4344 non-null   float64
 4   Fuel          4344 non-null   object
 5   Seller_type   4344 non-null   object
 6   Transmission  4344 non-null   object
 7   Owner         4344 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 271.6+ KB

## Раздел 4: Проверка дубликатов
### Подраздел 4.1: Удаление явных дубликатов

In [14]:
df.duplicated().sum()

np.int64(763)

In [15]:
df = df.drop_duplicates()
df = df.reset_index(drop=True)
df.duplicated().sum()

np.int64(0)

### Подраздел 4.2: Проверка и удаление неявных дубликатов

In [16]:
# Проверяем все уникальные значения
print(df['Fuel'].unique())
print(df['Seller_type'].unique())
print(df['Transmission'].unique())
print(df['Owner'].unique())

['Petrol' 'Diesel' 'Petroll' 'CNG' 'LPG' 'Electric']
['Individual' 'Dealer' 'Dealeer' 'Trustmark Dealer']
['Manual' 'Automatic']
['First Owner' 'Second Owner' 'Fourth & Above Owner' 'Third Owner'
 'Test Drive Car']

In [17]:
df['Fuel'] = df['Fuel'].replace({
    'Petroll': 'Petrol'
})

df['Seller_type'] = df['Seller_type'].replace({
    'Dealeer': 'Dealer'
})

print(df['Fuel'].unique())
print(df['Seller_type'].unique())

['Petrol' 'Diesel' 'CNG' 'LPG' 'Electric']
['Individual' 'Dealer' 'Trustmark Dealer']

## Раздел 5: Проверка типов данных

In [18]:
df.dtypes

Name             object
Year              int64
Sellingprice    float64
Kmdriven        float64
Fuel             object
Seller_type      object
Transmission     object
Owner            object
dtype: object

In [19]:
display(df)

,Name,Year,Sellingprice,Kmdriven,Fuel,Seller_type,Transmission,Owner
0,Maruti 800 AC,2007,60000.000000,70000.00000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000.000000,50000.00000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000.000000,100000.00000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000.000000,46000.00000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000.000000,141000.00000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
3576,Maruti 800 AC BSIII,2009,110000.000000,83000.00000,Petrol,Individual,Manual,Second Owner
3577,Hyundai Creta 1.6 CRDi SX Option,2016,865000.000000,90000.00000,Diesel,Individual,Manual,First Owner
3578,Renault KWID RXT,2016,225000.000000,40000.00000,Petrol,Individual,Manual,First Owner
3579,Tata Manza Aura Safire BS IV,2010,503998.740903,66193.06332,Petrol,Individual,Manual,Second Owner
3580,Maruti Celerio ZXI,2017,503998.740903,20000.00000,Diesel,Individual,Manual,First Owner

## Раздел 6: Группировки и сводные таблицы

### Подраздел 6.1: Первая группировка по Fuel и Seller_type

In [20]:
group1 = df.groupby(['Fuel', 'Seller_type']).size()
print(group1)

Fuel      Seller_type
CNG       Dealer                 9
          Individual            28
Diesel    Dealer               377
          Individual          1410
          Trustmark Dealer      14
Electric  Dealer                 1
LPG       Dealer                 1
          Individual            21
Petrol    Dealer               324
          Individual          1377
          Trustmark Dealer      19
dtype: int64

### Подраздел 6.2: Вторая группировка по Fuel и Seller_type и создание датафрейма

In [21]:
group2 = group1.reset_index(name='count')
group2 = group2.sort_values(by='count', ascending=False)

print(group2)

        Fuel       Seller_type  count
3     Diesel        Individual   1410
9     Petrol        Individual   1377
2     Diesel            Dealer    377
8     Petrol            Dealer    324
1        CNG        Individual     28
7        LPG        Individual     21
10    Petrol  Trustmark Dealer     19
4     Diesel  Trustmark Dealer     14
0        CNG            Dealer      9
5   Electric            Dealer      1
6        LPG            Dealer      1

### Подраздел 6.3: Сводная таблица по параметру Средний пробег по годам

In [22]:
pivot1 = df.pivot_table(values='Kmdriven', index='Year', aggfunc='mean')
pivot1 = pivot1.sort_values(by='Kmdriven', ascending=False).round(2)

print(pivot1)

       Kmdriven
Year
2006  102916.10
1992  100000.00
1995  100000.00
2009   96822.59
2010   93720.54
2007   92119.63
2004   91407.34
2011   90983.64
1997   90000.00
2008   88914.12
2005   87897.74
2001   86743.62
2012   86123.29
2003   82792.77
2002   82555.56
2013   76548.66
2014   76406.01
2000   70936.92
1998   70000.00
1999   67446.67
2015   64279.83
2016   57607.74
1996   47500.00
2017   43006.00
2018   28524.72
2019   19772.75
2020   10961.87

### Подраздел 6.4: Сводная таблица по параметру Средний пробег по коробке передач и топливу

In [23]:
pivot2 = df.pivot_table(values='Kmdriven', index='Transmission', columns='Fuel', aggfunc='mean')
pivot2 = pivot2.sort_index().round(2)

print(pivot2)

Fuel               CNG    Diesel  Electric       LPG    Petrol
Transmission
Automatic          NaN  64705.44   62000.0       NaN  40256.00
Manual        66551.08  85299.34       NaN  89618.18  55468.75